@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap');

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: auto; 
    padding: 3rem;
  }
  
  h1 {
    text-align: center;
    padding: 2rem;
    font-family: 'Kanit';
  }
  
  .article {
    max-width: 100%;
  }
  
  .article h2 {
    margin-top: 0;
  }
  
  .article p{
    color: black;
    padding: 0.5rem;
    font-family: 'Kanit';
  }
  .article img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    color: black;
    margin-top: 10px;
}
  